<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/page/style.css" />
    <title>관리페이지 - <%= Group%></title>
  </head>
  <body>
    <div id="catProfile" class="demo" style="display: none">
      <% for (var i = 0; i < cat.length; i++){ %>
      <div class="BigProfile">
        <img src="<%= cat[i].img%>" alt="이미지" />
        <div><%= cat[i].name%></div>
        <button>수정하기</button>
      </div>
      <% } %>
    </div>
  </body>
</html>
